body {
    background-color: beige;
}

.headerone {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 80px;
    color: black;
}

h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-check {
    margin-top: 10px;
}

.input-group-append {
    cursor: pointer;
  }

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

